* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --accent-blue: #0079FF;
  --white: #FEFEFE;
}

button, a{
  cursor: pointer;
}

.hidden{
  display: none;
}

body {
  background-color: #E1E7F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4{
  color: black;
}

h1{
  font-size: 26px;
  line-height: 38px;
  font-weight: bold;
}

h2{
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
}

h3{
  font-size: 16px;
  line-height: 24px;
}

h4{
  font-size: 13px;
  line-height: 20px;
}

.container {
  border: 1px solid red;
  width: 60%;
  box-shadow: 0px 0px 0px 0px;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.logo button {
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


body[data-theme="light"]{
  --primary-color: #fff;
  --secondary-color: #F6F8FF;
  --font-dark: #2B3442;
  --font-light: #4B6A9B;
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body[data-theme="dark"]{
  --primary-color: #1E2A47;
  --secondary-color: #141D2F;
  --font-dark: #fff;
  --font-light: #fff;
  --shadow: 0px 0px 0px 0px;
}


/* style search bar */
form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

form .form-input{
  width: 100%;
  position: relative;
}
form .form-input img{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.form-input button{
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  color: var(--white);
  background-color: var(--accent-blue);
  border: none;
  padding: .70rem 2rem;
}

form .form-input input{
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
  font-size: 13px;
  color: var(--font-light);
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: none;
  padding-left: 50px;
}

form .form-input input::placeholder{
  color: var(--font-light);
}